body , html{
    height: 100%;
    margin: 0; 
    overflow: hidden
    
}

#background-video{
    z-index: -100;
    position: fixed;
    right: 0;
    bottom: 0;

    width:100%; 
    height:100%;
    object-fit: cover;
}

.container {

    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.login-box {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 12px 1.5px #d1d1d1;
    width: 300px;
    height: 400px;
    background-color: #7AB2D3;
}

form, input {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
    
}



.topbox{
    width: auto;
    border-radius: 10px;
    
}



button[value="Login"] {
    margin-top: 40px;
    background: #fca18f;
    border: none;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
    width: 150px;
    height: 20px;
    transition: ease 0.5s;
}

button[value="Login"]:hover {
    background: hsl(7, 100%, 70%);

}




.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
}


